@import './variaveis';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    background-color: $cor-fundo;
    overflow-x: hidden;
}

main{
    display: flex;
    justify-content: center;
}

main .container-father{
    width: 80vw;
}

@media (max-width: $mobile) {    

    body{
        overflow-x: hidden;
    }

}